@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-br-color: #e5e5e5;
}

/* цвет навигации #212121; */
/* цвет акцента навигации #2196F3; */
/* цвет контактов без акцента #757575 */
/* основной цвет текста #757575 */
/* цвет заголовков #212121; */
/* вторичный цвет фона #2F303A; */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section.no-padding {
  padding-bottom: 0px;
}

.social-link {
  width: 100%;
  height: 100%;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-bg-color);
}

.social-link.footer:hover,
.social-link.footer:focus {
  background-color: var(--accent-color);
}

.social-link.footer:hover .social-icon,
.social-link.footer:focus .social-icon.footer {
  fill: var(--primary-bg-color);
}

.icon-footer {
  fill: #FFFFFF;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-top: 0px;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-size: 36px;
    line-height: 1.16;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item:last-child {
  margin-right: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 200ms linear;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  max-height: 581px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 1200px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.icon-close {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1, 15;
  color: var(--title-text-color);
}

.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1, 17;
  color: var(--primary-text-color);
}

.modal-form-field + .modal-form-field {
  margin-top: 10px;
}

.modal-form-box {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  transition: border-color 250ms cubic-bezier 0.4, 0, 0.2, 1;
}

.modal-form-input:hover, .modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:hover, .modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message::placeholder {
  font-size: 14;
  font-weight: 400;
  line-height: 1, 14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox:checked + .checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
}

.modal-form-checkbox:focus + .checkbox-label::before {
  outline: none;
  border-color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1, 7;
  color: #757575;
  margin-bottom: 30px;
}

.checkbox-label:before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  cursor: pointer;
  margin-right: 7px;
}

.link-policy {
  color: var(--accent-color);
}

.modal-form-button {
  align-self: center;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button {
  color: var(--primary-text-color);
  background: var(--primary-bg-color);
  font-family: inherit;
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.secondary {
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--secondary-br-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.secondary:hover, .button.secondary:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-modal:focus, .btn-modal:hover {
  color: var(--accent-color);
}

.logo {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
  }
}

.logo__accent {
  color: var(--title-text-color);
}

header {
  border-bottom: 1px solid #ECECEC;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger-button,
.mobile-menu__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 0px;
  width: 40px;
  height: 40px;
}

.mobile-menu__button {
  position: absolute;
  top: 0px;
  right: 15px;
}

.burger-button__icon,
.mobile-menu__icon-close {
  fill: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button__icon:hover, .burger-button__icon:focus,
.mobile-menu__icon-close:hover,
.mobile-menu__icon-close:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-menu__upper {
  padding-top: 40px;
  padding-left: 40px;
}

.mobile-menu__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu__link {
    font-size: 8vw;
  }
}

.mobile-menu__item,
.mobile-menu__contact-item {
  margin-bottom: 32px;
}

.mobile-menu__tel {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

@media screen and (max-width: 479px) {
  .mobile-menu__tel {
    font-size: 8vw;
  }
}

.mobile-menu__mail {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}

.mobile-menu__social {
  display: flex;
}

.mobile-menu__social-item {
  display: inline-block;
  margin-top: 32px;
  margin-bottom: 48px;
}

.mobile-menu__social-item :not(last-child) {
  margin-right: 20px;
}

.mobile-menu__social-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1, 22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  text-decoration: none;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

@media screen and (max-width: 768px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  position: relative;
}

.site-nav__item {
  margin-left: 50px;
}

.site-nav__item:first-child {
  margin-left: 0px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.17;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link.current,
.mobile-menu__link.current {
  color: var(--accent-color);
}

.site-nav__link.current::after,
.mobile-menu__link.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  display: block;
  background-color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .contact.list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact.list {
    display: flex;
    margin-left: auto;
  }
}

.contact__item {
  margin-left: 0px;
}

@media screen and (min-width: 1200px) {
  .contact__item {
    margin-left: 50px;
  }
}

.contact__item:first-child {
  margin-left: 0px;
}

.contact__mail,
.contact__tel {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail:focus, .contact__mail:hover,
.contact__tel:focus,
.contact__tel:hover {
  color: var(--accent-color);
}

.contact__mail-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__mail:focus .contact__mail-icon,
.contact__mail:hover .contact__mail-icon {
  fill: var(--accent-color);
}

.contact__tel-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__tel:focus .contact__tel-icon,
.contact__tel:hover .contact__tel-icon {
  fill: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  text-align: center;
  background-image: url(../images/hero/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../images/hero/hero-tablet.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../images/hero/hero-desktop.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpg);
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-desktop@2x.jpg);
  }
}

.hero__title {
  margin-top: 0px;
  margin-bottom: 40px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.feature-title.feature {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .feature__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.feature__list .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.feature__list .item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .feature__list .item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .feature__list .item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.feature-list__icon-vector::before {
  background-image: url(images/vector.png);
}

.feature-list__icon-clock::before {
  background-image: url(images/clock.png);
}

.feature-list__icon-diagramm::before {
  background-image: url(images/diagramm.png);
}

.feature-list__icon-astronaut::before {
  background-image: url(images/astronaut.png);
}

.feature-list__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.feature-list__text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.work-list {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .work__title {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .work-list__picture {
    display: none;
  }
}

.work-list__item {
  margin-right: 30px;
  position: relative;
}

.work-list__item:nth-child(3n) {
  margin-right: 0px;
}

.work-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 14;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0px;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .work-list__text {
    display: none;
  }
}

.team {
  background-color: #f5f4fa;
}

.team-box__title {
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-box__text {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-box {
  padding-top: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list__item {
  display: block;
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: block;
  border: 1px solid #AFB1B8;
  height: 92px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus, .clients__link:hover {
  border: 1px solid var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}

.portfolio__list .title {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__list .text {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__list .link {
  text-decoration: none;
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}

.button-list .item {
  margin-right: 8px;
}

@media screen and (max-width: 768px) {
  .button-list .item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768 px) {
  .portfolio-container {
    margin: -15px;
  }
}

.portfolio__box {
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  padding: 20px 18px;
}

.portfolio__card {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio__card:focus, .portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 62px 34px;
  margin: 0px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .portfolio__text {
  transform: translateY(0);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1200px) {
  .container-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (max-width: 1200px) {
  .container-footer {
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-right {
    margin-left: 70px;
  }
}

.join {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-bg-color);
  margin-bottom: 20px;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .join {
    margin-top: 0px;
  }
}

.link-footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.address {
  display: block;
  margin-top: 20px;
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.accent.footer {
  color: var(--primary-bg-color);
}

.address.link {
  display: block;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

@media screen and (max-width: 1200px) {
  .footer-form {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-direction: row;
    margin-left: 93px;
    align-self: right;
  }
}

.footer-form-title {
  font-size: 14;
  font-weight: 700;
  line-height: 1.14;
  color: var(--primary-bg-color);
  text-transform: uppercase;
  margin-top: 60px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  padding-left: 16px;
  color: var(--primary-bg-color);
  margin-top: 20px;
}

.placeholder {
  font-size: 16;
  font-weight: 400;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  position: relative;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  padding-right: 62px;
  padding-left: 29px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1200px) {
  .footer-form-button {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-button {
    margin-left: 12px;
  }
}

.icon-send {
  margin-left: 10px;
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}
/*# sourceMappingURL=main.css.map */