:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-br-color: #e5e5e5;
  }
  /* цвет навигации #212121; */
/* цвет акцента навигации #2196F3; */
/* цвет контактов без акцента #757575 */
/* основной цвет текста #757575 */
/* цвет заголовков #212121; */
/* вторичный цвет фона #2F303A; */