.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1, 15;
  color: var(--title-text-color);
}

.modal-form-field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1, 17;
  color: var(--primary-text-color);
}

.modal-form-field+.modal-form-field {
  margin-top: 10px;
}

.modal-form-box {
  position: relative;
  margin-top: 4px;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  transition: border-color 250ms cubic-bezier (0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:hover+&,
  .modal-form-input:focus+& {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.link-policy{
  display: inline;
}
.modal-form-message::placeholder {
  font-size: 14;
  font-weight: 400;
  line-height: 1, 14;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox:checked+.checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-position: center;
  background-size: cover;
}

.modal-form-checkbox:focus+.checkbox-label::before {
  outline: none;
  border-color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  margin-bottom: 30px;

  &:before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    cursor: pointer;
    margin-right: 7px;
  }
}

.link-policy {
  color: var(--accent-color);
}

.modal-form-button {
  align-self: center;
  border-radius: 4px;
  padding: 10px 55px;
  min-width: 200px;
  text-align: center;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}